 <div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" 
  fxLayoutGap.xs="0">

<!-- Display the details of the Dish  -->
  <div fxFlex="40" *ngIf="dish" >
    <md-card>

      <md-card-header>
        <md-card-title>
            <h3>{{ dish.name | uppercase }}</h3>  
        </md-card-title>
      </md-card-header>

      <img md-card-image src="{{dish.image}}" alt="{{dish.name}}">
      
      <md-card-content>
        <p>{{ dish.description }}</p>
      </md-card-content>
      
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail',next]"><span class="fa fa-chevron-right fa-lg"></span></button>

      </md-card-actions>

    </md-card>
  </div>

<!-- Display the list of comments  -->
  <div fxFlex="40" *ngIf="dish">
    <md-list>
      <h3>Comments</h3>
      <md-list-item *ngFor="let a of dish.comments">
        <p md-line>{{ a.comment }}</p>
        <p md-line>{{ a.rating }} Stars</p>
        <p md-line>--&nbsp;{{ a.author }} {{ a.date | date }}</p>
      </md-list-item>
      <!-- Display the list of live comment -->
      <md-list-item *ngIf="commentRatingForm.valid">
          <p md-line>{{ commentRatingForm.value.author }} </p>
          <p md-line>{{ commentRatingForm.value.rating }} Stars</p>
          <p md-line>--&nbsp;{{ commentRatingForm.value.comment }}</p> 
      </md-list-item>
    </md-list>

    <!--Feedback and Rating forms  -->
    <form novalidate [formGroup]="commentRatingForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width" dividerColor="{{ formErrors.author ? 'warn' : 'primary' }}">
          <input mdInput formControlName = "author" placeholder="Name" type="text" required>
          <md-hint>
            <span [hidden]="!(formErrors.author)">{{ formErrors.author }}</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-slider formControlName = "rating" thumbLabel min="1" max="5" tickInterval="1"></md-slider>
      </p>
      <p>
        <md-input-container class="full-width" dividerColor="{{ formErrors.comment ? 'warn' : 'primary' }}">
          <textarea mdInput formControlName = "comment" placeholder="Your comments" required rows="10"></textarea>
        <md-hint>
          <span [hidden]="!(formErrors.comment)">{{ formErrors.comment }}</span>
        </md-hint>
        </md-input-container>
      </p> 
      <button type="submit" md-button class="background-primary text-floral-white"[disabled]="commentRatingForm.invalid">Submit</button>
    </form> 
  </div>
  <div [hidden]='dish'>
    <md-spinner></md-spinner>
    <h4>Loading...Please wait</h4>
  </div>

</div>   